.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4px;
    text-transform: uppercase;
}
.image {
    max-width: 250px;
    width: 100%;
    margin: auto;
}

.prev {
    padding-left: 0;
    color:#FCFEEF;
}

.next {
    padding-right: 0;
    margin-left: auto;
    color:#C8D948;
}
h1{
    color:#C8D948;
}
h4{
    color:#C8D948;
    margin-top:10px;
}
p{
    margin-top:10px;
    text-align:left;

}
.info{
    display:flex;
    margin: 20px 0 40px;
    flex-wrap:wrap;
    justify-content:left;
    padding:10px;
    background-color: #0d0d0d;
    border:1px solid #C8D948;
    border-radius: 8px;
}

.box {
    font-size: 20px;
    font-weight: 500;
    color: #0d0d0d;
    display: flex;
    padding: 20px;
    width: calc(100% / 2);
    flex-direction: column;
    line-height: 1.1;

}