.navBar {
    background: #C8D948;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 9;
}

.logo {
    max-width: 50px;
    transition: all .2s;
    margin-right: 20px;
}

.logo:hover {
    transform: rotate(360deg);
    filter: invert(14%) sepia(67%) saturate(7456%) hue-rotate(345deg) brightness(97%) contrast(100%);
}

.nav {
    display:inline-block;
}
.navItem a {
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 20px;
    color: #0D0D0D !important;
}

.navItem a.active {
    color: #0D0D0D !important;
}